$animation-timing-function: cubic-bezier(.4,0,.2,1);
$animation-duration: 1s;

$dark-background: #050505;
$body-color: #050505;
$white: #FFFFFF;
$primary: #2E4FFF;
$secondary: #FF005C;
$tertiary: #FFC700;